@import './../../../styles/variables';

.workList {
  transition: opacity 0.3s 0.5s ease-out;
  opacity: 0;
  &[data-load='true'] {
    opacity: 1;
  }
  @include media-query('sp') {
    padding: 0 #{map-get($column-margin, 'sp')};
  }
}
