@import './../../../styles/variables';
.workflowImg {
  display: flex;
  justify-content: center;
  &_item {
    font-size: 14px;
    font-weight: bold;
    width: 152px;
    height: 152px;
    line-height: 152px;
    margin-left: -24px;
    text-align: center;
    border-radius: 999px;
    border: solid $border-theme 1px;
    background-color: rgba(#fff, 0.4);
    @include media-query('tb') {
      margin-left: unset;
      margin-bottom: -24px;
    }
    @include media-query('tb') {
      font-size: 12px;
      width: 120px;
      height: 120px;
      line-height: 120px;
    }
  }
  @include media-query('tb') {
    align-items: center;
    flex-direction: column;
  }
}
