// color
$text-black: #1d1c1c;
$text-black-hover: #989186;
$border-theme: #ede5e2;
$theme-white: #fff;
$theme-gray: #c7c0b7;
$disabled-gray: #e0dfdc;
$content-bg-white: rgba(#fff, 0.4);
$content-bg-white-hover: rgba(#fff, 0.7);

// border-radius
$br-lg: 24px;
$br-md: 16px;
$br-sm: 9px;

// break-point
$bp-xl: 1022px;
$bp-lg: 768px;
$bp-sm: 450px;
$breakpoint: (
  sp: 'screen and (max-width: 450px)',
  tb: 'screen and (max-width: 768px)',
  pc: 'screen and (max-width: 1022px)',
  dt: 'screen and (min-width: 1022px)',
);

@mixin media-query($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

// column-width
$body-maxWidth: (
  sp: 100vw,
  tb: 100vw,
  pc: 100vw,
  dt: 1022px,
);
$column-gap: (
  sp: 16px,
  tb: 16px,
  pc: 16px,
  dt: 16px,
);
@function columnWidth($columns, $media) {
  $mainWidth: calc(#{map-get($body-maxWidth, $media)} - 64px); // padding分を考慮
  @return calc(($mainWidth - (16px * 11)) / 12 * $columns + 16px * ($columns - 1));
}
