// color
$text-black: #1d1c1c;
$text-black-reverse: #e2e3e3;
$text-black-hover: #706e69;
$text-brown-hover: #786b5a;
$border-theme: #ede5e2;
$theme-white: #fff;
$theme-gray: #c7c0b7;
$disabled-gray: #e0dfdc;
$content-bg-white: rgba(#fff, 0.4);
$content-bg-white-hover: rgba(#fff, 0.7);

// border-radius
$br-sm: 9px;
$br-md: 16px;
$br-lg: 24px;

// break-point
$bp-sm: 450px;
$bp-lg: 768px;
$bp-xl: 1440px;
$breakpoint: (
  sp: 'screen and (max-width: #{$bp-sm})',
  tb: 'screen and (max-width: #{$bp-lg})',
  pc: 'screen and (max-width: #{$bp-xl})',
  dt: 'screen and (min-width: 1441px)',
);

@mixin media-query($media) {
  @media #{map-get($breakpoint, $media)} {
    @content;
  }
}

// column-width
$column-gutter: (
  sp: 8px,
  tb: 16px,
  pc: 16px,
  dt: 16px,
);
$column-margin: (
  sp: 16px,
  tb: 16px,
  pc: 32px,
  dt: 140px,
);
$body-maxWidth: (
  sp: 100vw,
  tb: 100vw,
  pc: calc(100vw - #{map-get($column-margin, 'pc')} * 2),
  dt: $bp-xl,
);
@function mainWidth($media) {
  // padding分を考慮
  @return calc(#{map-get($body-maxWidth, $media)} - (#{map-get($column-margin, $media)} * 2));
}
@function columnWidth($columns, $media) {
  @return calc(
    (#{mainWidth($media)} - (#{map-get($column-gutter, $media)} * 11)) / 12 * #{$columns} + #{map-get(
        $column-gutter,
        $media
      )} * (#{$columns} - 1)
  );
}
@function normalWorksMargin($media) {
  @return (
    calc(
      (#{mainWidth($media)} - #{columnWidth(11, $media)} - #{map-get($column-gutter, $media)}) / 2
    )
  );
}
