@import './variables';

@font-face {
  font-family: 'avenir-next';
  src: url('../fonts/AvenirNext-regular.woff') format('woff'),
    url('../fonts/AvenirNext-Regular-08.ttf') format('truetype');
}
@font-face {
  font-family: 'avenir-next-italic';
  src: url('../fonts/AvenirNext-italic.woff') format('woff'),
    url('../fonts/AvenirNext-Italic-05.ttf') format('truetype');
}
@font-face {
  font-family: 'avenir-next-bold';
  src: url('../fonts/AvenirNext-medium.woff') format('woff'),
    url('../fonts/AvenirNext-Medium-06.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  color: $text-black;
  font-family: '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック',
    'Yu Gothic', sans-serif;
  font-size: 14px;
  line-height: 2;
  position: relative;
  @include media-query('sp') {
    font-size: 12px;
  }
}
body {
  position: relative;
  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(250, 247, 245);
    background: linear-gradient(
      138deg,
      rgba(250, 247, 245, 1) 0%,
      rgba(249, 243, 239, 1) 50%,
      rgba(247, 238, 233, 1) 64%,
      rgba(250, 247, 245, 1) 100%
    );
    z-index: -1;
    @include media-query('tb') {
      background: rgb(249, 243, 240);
      background: linear-gradient(
        138deg,
        rgba(249, 243, 240, 1) 0%,
        rgba(251, 245, 240, 1) 47%,
        rgba(247, 237, 229, 1) 65%,
        rgba(250, 243, 236, 1) 79%,
        rgba(250, 244, 240, 1) 100%
      );
    }
  }
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* shared styles */
.avenir {
  font-family: 'avenir-next';
}
.avenir-italic {
  font-family: 'avenir-next-italic';
}
.avenir-bold {
  font-family: 'avenir-next-bold';
}

@media (prefers-color-scheme: dark) {
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  position: absolute;
  left: calc(50% - 5em);
  top: calc(50% - 10em);
  margin: 60px auto;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.3);
  border-right: 1.1em solid rgba(255, 255, 255, 0.3);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.3);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  & + span {
    img {
      transition: all 0.3s ease-out;
      opacity: 0;
      &[data-loaded='true'] {
        opacity: 1;
      }
    }
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
