@import './variables';

@font-face {
  font-family: 'avenir-next';
  src: url('../fonts/AvenirNext-regular.woff') format('woff'),
    url('../fonts/AvenirNext-Regular-08.ttf') format('truetype');
}
@font-face {
  font-family: 'avenir-next-italic';
  src: url('../fonts/AvenirNext-italic.woff') format('woff'),
    url('../fonts/AvenirNext-Italic-05.ttf') format('truetype');
}
@font-face {
  font-family: 'avenir-next-bold';
  src: url('../fonts/AvenirNext-medium.woff') format('woff'),
    url('../fonts/AvenirNext-Medium-06.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  color: $text-black;
  font-family: '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック',
    'Yu Gothic', sans-serif;
  font-size: 14px;
  line-height: 2;
  position: relative;
}
html {
  background-color: #faf7f5;
}
body {
  max-width: #{map-get($body-maxWidth, 'dt')};
  padding: 0 #{map-get($column-margin, 'dt')};
  margin: calc(24px + 60px) auto 0;
  position: relative;
  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(250, 247, 245);
    background: linear-gradient(
      138deg,
      rgba(250, 247, 245, 1) 0%,
      rgba(249, 243, 239, 1) 50%,
      rgba(247, 238, 233, 1) 64%,
      rgba(250, 247, 245, 1) 100%
    );
    z-index: -1;
  }
  @include media-query('pc') {
    max-width: #{map-get($body-maxWidth, 'pc')};
    padding: 0 #{map-get($column-margin, 'pc')};
  }
  @include media-query('tb') {
    max-width: #{map-get($body-maxWidth, 'tb')};
    padding: 0 #{map-get($column-margin, 'tb')};
  }
  @include media-query('sp') {
    max-width: #{map-get($body-maxWidth, 'sp')};
    padding: 0;
    margin: 104px auto 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* shared styles */
.avenir {
  font-family: 'avenir-next';
}
.avenir-italic {
  font-family: 'avenir-next-italic';
}
.avenir-bold {
  font-family: 'avenir-next-bold';
}

@media (prefers-color-scheme: dark) {
}
