@import './../../styles/variables';
.contact {
  background-color: $content-bg-white;
  border-radius: $br-md;
  padding: 80px 32px 96px;
  margin: 0 auto;
  width: columnWidth(8, 'dt');
  @include media-query('pc') {
    width: columnWidth(10, 'pc');
  }
  @include media-query('tb') {
    width: columnWidth(10, 'tb');
  }
  @include media-query('sp') {
    padding: 64px 24px 72px;
    width: columnWidth(12, 'sp');
  }
  &_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  &_desc {
    text-align: center;
    margin-bottom: 80px;
  }
  &_complete {
    text-align: center;
  }
  &_form {
    margin: 0 auto;
    width: columnWidth(6, 'dt');
    @include media-query('pc') {
      width: columnWidth(8, 'pc');
    }
    @include media-query('tb') {
      width: columnWidth(8, 'tb');
    }
    @include media-query('sp') {
      width: 100%;
    }
    &_item {
      margin-bottom: 24px;
      label {
        display: inline-block;
        font-weight: bold;
        padding-left: 4px;
        margin-bottom: 8px;
        position: relative;
        @include media-query('sp') {
          margin-bottom: 4px;
        }
        &[data-required='true']::after {
          content: '必須';
          position: absolute;
          left: calc(100% + 8px);
          top: 50%;
          transform: translateY(-50%);
          color: $theme-white;
          background-color: $required-red;
          font-size: 11px;
          font-weight: bold;
          text-align: center;
          border-radius: 8px;
          width: 30px;
          padding: 1px 3px 0;
          font-weight: bold;
          @include media-query('tb') {
            font-size: 10px;
            width: 26aapx;
          }
        }
      }
      input,
      textarea {
        width: 100%;
        border-radius: 8px;
        border: solid 2px $form-border;
        padding: 16px 12px;
        font-size: 16px;
        transition: all 0.15s ease-in-out;
        &:active {
          border: solid 2px $text-black;
        }
        @include media-query('tb') {
          padding: 12px 16px;
        }
        @include media-query('sp') {
          padding: calc(12px * (16 / 14)) calc(16px * (16 / 14));
          transform: scale(calc(14 / 16));
          width: calc(100% * 16 / 14);
          margin-left: calc(-100% / 16);
        }
        &::placeholder {
          color: $theme-gray;
        }
        &:focus {
          border-color: $theme-gray-focused;
          outline: 0;
        }
        &[data-error='true'] {
          border-color: $required-red;
        }
        &[type='submit'] {
          padding: 16px 0;
          border: 0;
          border-radius: 12px;
          appearance: none;
          -webkit-appearance: none;
          display: block;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          background-color: $text-brown-hover;
          color: $theme-white;
          width: 200px;
          margin: 48px auto 0;
          transition: all 0.3s ease-in-out;
          &:disabled {
            cursor: default;
            color: rgba($color: $theme-white, $alpha: 0.8);
            background-color: $disabled-gray;
          }
        }
      }
      &_error {
        color: $required-red;
        font-size: 13px;
        margin-top: 4px;
        @include media-query('tb') {
          margin-top: 0;
        }
      }
    }
  }
}
