@import './../../../styles/variables';

.header {
  mix-blend-mode: exclusion;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: $text-black-reverse;
  position: fixed;
  top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 5;
  padding: 0 56px 0 48px;
  &[data-is-mobile='true'] {
    height: 40px;
  }
  @include media-query('tb') {
    top: 16px;
    padding: 0 16px 0 24px;
  }
  &_logo {
    height: 60px;
    width: 60px;
    position: relative;
    &[data-is-mobile='true'] {
      height: 40px;
      width: 113px;
    }
  }
  &_links {
    display: flex;
    align-items: center;
    &_link {
      position: relative;
      font-size: 14px;
      margin-left: 16px;
      &[data-here='true']::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 1px;
        background-color: $text-black-reverse;
        border-radius: 99px;
      }
      &_container {
        width: 100%;
        height: 100%;
        position: relative;
      }
      &[data-is-contact='true'] {
        display: inline-block;
        width: 21px;
        height: 16px;
        position: relative;
        margin-left: 20px;
        &[data-here='true']::after {
          bottom: -8px;
        }
        &[data-is-mobile='true'] {
          width: 40px;
          height: 40px;
          padding: 12px 10px;
          background-color: rgb(10 12 16 / 70%);
          border-radius: 999px;
        }
      }
    }
  }
}
