@import './../../../styles/variables';

.header {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 56px 0 48px;
  position: fixed;
  top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 5;
  &_logo {
    height: 60px;
    width: 60px;
    position: relative;
  }
  &_links {
    display: flex;
    align-items: center;
    &_link {
      position: relative;
      font-size: 14px;
      margin-left: 16px;
      &[data-here='true']::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 1px;
        background-color: $text-black;
        border-radius: 99px;
      }
      &:last-of-type {
        display: inline-block;
        width: 21px;
        height: 16px;
        position: relative;
        margin-left: 20px;
        &[data-here='true']::after {
          bottom: -8px;
        }
      }
    }
  }
}
