@import './../../../styles/variables';
.workPage {
  &_top {
    position: relative;
    width: calc(100vw - #{map-get($work-top-margin, 'dt')} * 2);
    overflow: hidden;
    border-radius: $br-lg;
    background-color: $content-bg-white;
    padding-bottom: 80px;
    margin-bottom: 120px;
    margin-left: calc((100vw - #{mainWidth('dt')}) / -2 + #{map-get($work-top-margin, 'dt')});
    @include media-query('pc') {
      width: calc(100vw - #{map-get($work-top-margin, 'pc')} * 2);
      margin-left: calc((100vw - #{mainWidth('pc')}) / -2 + #{map-get($work-top-margin, 'pc')});
    }
    @include media-query('tb') {
      width: calc(100vw - #{map-get($work-top-margin, 'tb')} * 2);
      margin-left: calc((100vw - #{mainWidth('tb')}) / -2 + #{map-get($work-top-margin, 'tb')});
    }
    @include media-query('sp') {
      width: 100vw;
      border-radius: 0 0 $br-lg $br-lg;
      margin-top: -104px;
      margin-left: calc(#{map-get($column-margin, 'sp') * -1});
      padding-bottom: 72px;
      margin-bottom: 88px;
    }
    &_img {
      position: relative;
      margin-bottom: 64px;
      height: 500px;
      background-color: $disabled-gray;
      @include media-query('tb') {
        height: 400px;
        margin-bottom: 40px;
      }
      @include media-query('sp') {
        height: auto;
        aspect-ratio: 1/1;
      }
      img {
        border-radius: $br-lg $br-lg 0 0;
        @include media-query('sp') {
          border-radius: 0;
        }
      }
    }
    &_info {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: columnWidth(12, 'dt');
      @include media-query('pc') {
        width: columnWidth(12, 'pc');
      }
      @include media-query('tb') {
        width: columnWidth(12, 'tb');
        flex-direction: column;
        padding: 0 24px;
      }
      &_left {
        width: calc(columnWidth(4, 'dt') - 16px);
        @include media-query('pc') {
          width: calc(columnWidth(4, 'pc') - 16px);
        }
        @include media-query('tb') {
          width: 100%;
        }
        &_titleContainer {
          margin-bottom: 16px;
          @include media-query('tb') {
            margin-bottom: 40px;
          }
          @include media-query('sp') {
            margin-bottom: 32px;
          }
        }
        &_title {
          font-size: 34px;
          line-height: 1.2;
          word-break: break-all;
          margin-bottom: 8px;
          @include media-query('sp') {
            font-size: 28px;
          }
        }
        &_details {
          @include media-query('tb') {
            display: flex;
            justify-content: space-between;
          }
          &_tags {
            margin-bottom: 48px;
            padding-top: 8px;
            @include media-query('tb') {
              margin-bottom: 0;
              width: calc(columnWidth(4, 'tb') - 24px);
            }
          }
          &_data {
            @include media-query('tb') {
              width: calc(columnWidth(8, 'tb') - 24px);
              margin-bottom: 72px;
            }
            @include media-query('tb') {
              margin-bottom: 0px;
            }
            &_item {
              display: flex;
              padding-bottom: 8px;
              margin-top: 8px;
              border-bottom: dotted $border-theme 2px;
              div {
                &:nth-of-type(1) {
                  width: 56px;
                  margin-right: 24px;
                }
                &:nth-of-type(2) {
                  width: calc(100% - 80px);
                }
              }
            }
          }
        }
        &_website,
        &_websiteSP {
          &_link {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            font-size: 13px;
            color: $text-brown-hover;
            border-bottom: 2px dotted $border-theme;
            transition: color 0.3s ease-out;
            &_icon {
              margin-left: 4px;
              width: 16px;
              height: 16px;
              fill: $text-brown-hover;
            }
            &:hover {
              color: $text-black-hover;
              .workPage_top_info_left_website_icon {
                fill: $text-black-hover;
              }
            }
          }
        }
        &_websiteSP {
          display: none;
          @include media-query('tb') {
            display: block;
          }
          &_link {
            font-size: 12px;
          }
          &_icon {
            width: 12px;
            height: 12px;
          }
        }
        &_website {
          margin-top: 8px;
          @include media-query('tb') {
            display: none;
          }
          &_link {
            margin-left: 8px;
          }
        }
      }
      &_right {
        &[data-sp='true'] {
          display: none;
          @include media-query('tb') {
            display: block;
            margin-bottom: 24px;
          }
        }
        &[data-sp='false'] {
          @include media-query('tb') {
            display: none;
          }
        }
        &_subtitle {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 24px;
          @include media-query('tb') {
            font-size: 15px;
            margin-bottom: 16px;
          }
          @include media-query('sp') {
            font-size: 14px;
          }
        }
        &_text {
          @include media-query('tb') {
            font-size: 13px;
          }
          @include media-query('sp') {
            font-size: 12px;
          }
        }
        a {
          border-bottom: dotted 1px $text-black;
        }
        line-height: 2.5;
        width: columnWidth(8, 'dt');
        @include media-query('pc') {
          width: columnWidth(8, 'pc');
        }
        @include media-query('tb') {
          width: 100%;
        }
        @include media-query('sp') {
          font-size: 13px;
          line-height: 2.2;
        }
      }
    }
  }
  &_content {
    width: columnWidth(10, 'dt');
    padding: 80px 0 96px;
    @include media-query('pc') {
      width: columnWidth(10, 'pc');
    }
    @include media-query('tb') {
      width: columnWidth(10, 'tb');
    }
    @include media-query('sp') {
      width: columnWidth(12, 'sp');
      padding: 64px 0;
    }
    margin: 0 auto;
    background-color: $content-bg-white;
    border-radius: $br-md;
    &_container {
      margin-bottom: 120px;
      h2,
      p,
      iframe {
        width: columnWidth(8, 'dt');
        margin: 0 auto;
        @include media-query('pc') {
          width: columnWidth(8, 'pc');
        }
        @include media-query('tb') {
          width: columnWidth(8, 'tb');
        }
        @include media-query('sp') {
          width: calc(100% - 64px);
        }
      }
      h2 {
        font-size: 18px;
        margin-top: 80px;
        @include media-query('sp') {
          font-size: 14px;
          margin-top: 64px;
        }
        & + p {
          margin-top: 40px;
          @include media-query('sp') {
            margin-top: 24px;
          }
        }
        &:first-of-type {
          margin-top: 0;
        }
      }
      p {
        font-size: 14px;
        line-height: 2.5;
        margin-top: 80px;
        @include media-query('sp') {
          font-size: 12px;
          line-height: 2.2;
          margin-top: 40px;
        }
        & + p {
          margin-top: 40px;
        }
      }
      a {
        border-bottom: dotted 1px $text-black;
      }
      img {
        margin: 80px 0 0;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        @include media-query('sp') {
          margin: 40px 0 0;
        }
        & + img {
          margin: 32px 0 0;
          @include media-query('sp') {
            margin: 16px 0 0;
          }
        }
        & + div {
          margin: 32px 0 0;
          @include media-query('sp') {
            margin: 16px 0 0;
          }
        }
      }
      div {
        margin: 80px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include media-query('sp') {
          margin: 40px 0 0;
        }
        img {
          margin: 0;
          width: calc((100% - 16px) / 2);
          @include media-query('sp') {
            width: calc((100% - 8px) / 2);
          }
        }
        & + img {
          margin: 32px 0 0;
          @include media-query('pc') {
            margin: 32px 0 0;
          }
          @include media-query('sp') {
            margin: 16px 0 0;
          }
        }
        & + div {
          margin: 32px 0 0;
          @include media-query('sp') {
            margin: 32px 0 0;
          }
        }
      }
    }
  }
}
