@import './../../../styles/variables';

.work {
  display: block;
  // padding: 16px 16px 64px;
  background-color: rgba($color: $theme-white, $alpha: 0.4);
  border-radius: $br-md;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  &_thumb {
    width: 100%;
    border-radius: $br-sm;
    overflow: hidden;
    aspect-ratio: 3 / 2;
    position: relative;
    margin-bottom: 32px;
    &_tags {
      display: flex;
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 2;
    }
  }
  &_info {
    width: 100%;
    padding: 0 32px;
    &_title {
      font-size: 28px;
    }
    &_desc {
      margin-top: 16px;
      font-size: 14px;
      line-height: calc(32 / 14);
    }
  }
  &:nth-of-type(4n + 1) {
    width: columnWidth(6);
    margin-right: calc((100% - columnWidth(11)) / 2 + columnWidth(5) + 32px);
    margin-left: calc((100% - columnWidth(11)) / 2);
  }
  &:nth-of-type(4n + 2) {
    width: columnWidth(5);
    margin-right: calc((100% - columnWidth(11)) / 2);
    margin-left: calc((100% - columnWidth(11)) / 2 + columnWidth(6) + 32px);
    margin-bottom: 160px;
    margin-top: -320px;
  }
  &:nth-of-type(4n + 3) {
    width: columnWidth(5);
    margin-right: calc((100% - columnWidth(11)) / 2 + columnWidth(6) + 32px);
    margin-left: calc((100% - columnWidth(11)) / 2);
  }
  &:nth-of-type(4n) {
    width: columnWidth(6);
    margin-right: calc((100% - columnWidth(11)) / 2);
    margin-left: calc((100% - columnWidth(11)) / 2 + columnWidth(5) + 32px);
    margin-bottom: 200px;
    margin-top: -360px;
  }
  &:nth-of-type(1) {
    width: columnWidth(7);
    margin-right: calc(columnWidth(5) + 16px);
    margin-left: 0;
  }
  &:nth-of-type(2) {
    width: columnWidth(5);
    margin-right: 0;
    margin-left: calc(columnWidth(7) + 16px);
  }
  &:hover {
    background-color: rgba($color: $theme-white, $alpha: 0.7);
  }
  &_container {
    display: block;
    padding: 16px 16px 64px;
  }
}
