@import './../../../styles/variables';

.skillItem {
  padding: 48px 32px;
  border-radius: $br-md;
  background-color: $content-bg-white;
  width: calc(#{columnWidth(3, 'dt')} + 64px);
  @include media-query('pc') {
    width: calc(#{columnWidth(3, 'pc')} + 64px);
  }
  @include media-query('tb') {
    width: calc(#{columnWidth(3, 'tb')} + 64px);
  }
  @include media-query('sp') {
    width: columnWidth(10, 'sp');
  }
  &_img {
    width: 100px;
    height: 100px;
    margin: 0 auto 24px;
  }
  &_title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
  }
  &_desc {
    font-size: 14px;
    margin-bottom: 16px;
  }
  &_skill {
    font-size: 12px;
    color: $theme-gray;
  }
}
