@import './../../../styles/variables';

.tag {
  font-size: 14px;
  padding: 4px 16px;
  background-color: $theme-white;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: $text-black;
  @include media-query('tb') {
    font-size: 13px;
    padding: 2px 12px;
  }
  @include media-query('sp') {
    margin-right: -6px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &[data-selected='false'] {
    background-color: transparent;
  }
  &[data-label='true'] {
    display: inline-block;
    font-size: 12px;
    padding: 2px 12px;
    background-color: rgba($theme-white, 0.8);
    @include media-query('sp') {
      padding: 0px 10px;
    }
  }
}
