@import './../../../styles/variables';

.footer {
  padding-top: 216px;
  padding-bottom: 40px;
  font-size: 12px;
  text-align: center;
  @include media-query('sp') {
    padding-top: 184px;
    padding-bottom: 24px;
  }
}
